---
#    {% assign sorted_ns = site.nodes | sort: 'order' %}

---
<h1>Post-scarcity Transition paths data</h1>


    {% for n in site.nodes %}
      <a href="{{n.url}}">{{n.order}} - {{n.name}}</a> 
      {% for t in n.tags %}
        <span>[ {{ t }} ]</span>
      {% endfor %}  <br/>
    {% endfor %}
