<html>
<head>
</head>

<body>
	<h1>{{ page.name }}</h1>
	
	<h3>Tags</h3>
	  <ul>
	    {% for n in page.tags %}
	      <li>{{n}}</li>
	    {% endfor %}
	  </ul>
	
	{{ content }}

    {% assign idparts = page.id | split: "/" %}

    {% for idpart in idparts %}
        {% assign nodeid = idpart %}
    {% endfor %}

    <script>
    window.location.replace("https://transition-paths.tzm.community/node/{{nodeid }}");
    </script>
</body>

</html>
